html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    color: $grayishBlue;
    line-height: 1.3;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sp {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}


// Buttons
button, .button {
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $lightGrayishBlue;
    font-weight: 700;
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}